.embedWidgetThumb {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: auto;
  flex-shrink: 0;
  box-sizing: border-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: flex-start;
  max-width: 400px;
  &:hover {
    transform: scale(1.03);
  }
}

.embedWidgetThumbImage {
  max-width: 100%;
  background-color: #000;
  height: 0;
  padding-top: 56%;
  margin-left: 0;
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  height: 68px;
  overflow: hidden;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  img {
    transform: scale(1.03);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid transparent;
    transition: 0.3s ease all;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease all;
  }
}

.embedWidgetThumbImageContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.embedWidgetThumbImageImage {
  max-width: 100%;
  pointer-events: none;
  position: relative;
  width: 100%;
  height: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.3s ease all;
}

.embedWidgetThumbPlayContainer {
  padding: 9px 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  padding: 7px 12px;
  background-color: rgba(17, 17, 17, 0.7);
  border-radius: 4px;
  transition: 0.3s ease background-color;
}
.embedWidgetThumbTimeContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 4px;
  right: 4px;
  padding: 2px 3px;
  color: #fff;
  border-radius: 4px;
  font-size: 11px;
  line-height: 12px;
  pointer-events: none;
}
.playButton {
  top: 30%;
  width: 33px;
  height: 33px;
  position: absolute;
}
.embedWidgetThumbPlay {
  width: 14px;
  height: 14px;
  fill: #fff;
  display: -webkit-flex;
  display: flex;
}
.embedWidgetThumbText {
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  border-radius: 5px 5px 0px 0px;
  // background: #fff;
  padding: 5px 10px;
  text-align: center;
}

.uploadedContainer {
  display: flex !important;
  justify-content: space-between !important;

  align-items: baseline !important;
  padding: 5px 0px;
  .uploadedNameClass {
    display: flex;
    gap: 10px;
    .uploadedheadingClass {
      font-size: 12px;
      font-weight: 600;
    }
    .uploadedTimeClass {
      font-size: 10px;
    }
  }
  .avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}
