.iconRow {
  display: flex;
  align-items: center;
  ;
  gap: 10px;
  justify-content: center;

  .save {
    margin-left: 30px;
    margin-top: 21px;
  }
}

.loading {
  width: 15px !important;
  height: 15px !important;
}

.create {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  height: 61px;
  justify-content: flex-end;
}

.opacityModal {
  background-color: rgba(0, 0, 0, 0.2);
}

.bodyModal {
  max-width: 25vw !important;
}

.deleteModal {
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;

    span {
      font-weight: bolder;
      color: #ce4343;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: space-evenly;

    .delBtn {
      background-color: #ce4343;
      color: white;
      min-width: 100px;

      p {
        margin: auto;
      }

      &:hover {
        color: black;
      }
    }

    .cancelBtn {
      background-color: #d3d3d3;
      min-width: 100px;

      p {
        margin: auto;
      }
    }
  }
}

.active {
  display: flex;
  width: 100%;
  justify-content: center;
}