.backgroundColor {
  background-color: #f2f2f2 !important;
  border: 0.977px solid #b8b8b8;
  border-radius: 19px;
  margin: 16px;
  .cardsBody {
    width: 100%;
    height: 420px;
    gap: 24px;
  }
}
