.main {
  padding: 20px;

  .name {
    overflow: hidden;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  .video {
    width: 100%;
    height: 400px;
  }

  .description {
    font-size: 16px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    color: #ffd6af;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
  }

  .sliderWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 220px;
    padding-bottom: 30px;

    @media (max-width: 550px) {
      justify-content: center;
    }

    .SliderMain {
      // position: relative;
      min-width: 280px;
      margin: 0 10px;
      flex: 1;

      @media (max-width: 700px) {
        width: 100%;
      }
    }
  }

  .shareBox {
    display: flex !important;
    justify-content: space-between !important;
    align-items: baseline !important;
    margin-bottom: 35px !important;

    .shareViewClass {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;

      .viewAllClass {
        // color: #fff;
        text-align: right;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 65px;
        border-bottom: 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 10px;
      }
    }

    .uploadedNameClass {
      display: flex;
      gap: 10px;

      .uploadedheadingClass {
        font-size: 20px;
      }

      .uploadedTimeClass {
        font-size: 14px;
      }
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
  }

  .btnLeft {
    width: 44px;
    height: 44px;
    display: flex;
    margin: 0px;
    cursor: pointer;
    align-items: center;

    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 2;
    opacity: 0.9;

    &:hover {
      opacity: 0.7;
    }
  }

  .btnRight {
    width: 44px;
    height: 44px;
    display: flex;
    margin: 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    // bottom: 23%;
    right: 0;
    opacity: 0.9;

    &:hover {
      opacity: 0.7;
    }
  }
}

.widgetContainer {
  height: 100%;
  margin: 20px 0px;

  .embedResponsiveItem {
    background: #333;
    border-radius: 10px;
    min-height: 420px;
    max-height: 420px;
  }
}

.subText {
  font-size: 14px;
}

.EmbedWidgetThumb {
  margin: 10px;
}

.showDescription {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 20px;
  cursor: pointer;
}