.tabContainer {
  background: #ececec;
  display: flex;
  padding: 4px 10px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  .tab {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 11px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #fff;
  }
  .tabActive {
    background: var(--Background-BG-3, #ed1c24);
    span {
      color: #ececec;
    }
  }
}
