.description {
  color: var(--Fonts-Font-D, #a1a1a1);
  /* Body/B2 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.radioClassName {
  p {
    color: var(--Fonts-Font-B, #0f0f0f) !important;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    margin-top: 10px !important;
    padding-left: 30px !important;
  }
}
.customizations {
  display: flex;
  justify-content: space-between;
  .lables {
    color: var(--Fonts-Font-B, #0f0f0f) !important;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }
}
